/*****************FORMULARIO*****************/

#recuperarPassword {

	width: 46%;
	padding-bottom: 2%;
	background: #fff;
	border-radius: 10px;
	border: 3px solid #242526;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;

}

#recuperarPassword h2 {

	padding-top: 2%;
	text-align: center;
	font-family: "amatic";
	font-size: 35px;
	padding-bottom: 2%; 
	margin-bottom: 6%;
	background: #93979e;
	border-radius: 7px 7px 0 0;

}

#recuperarPassword form div {

	padding-right: 3%;
	padding-left: 6%;
	width: 91%;
	margin: 0;
	border: none;

}

#recuperarPassword form div #errorFormulario {

	background: #efcac4;
	padding: 2%;
	text-align: center;
	margin-top: 2%;
	font-family: "courier new";
	font-size: 16px;
	border-radius: 2px;
	color: #e53d20;
	margin-bottom: 3%;

}

#recuperarPassword form div label {

	font-family: "amatic";
	font-weight: bold;
	font-size: 24px;

}

#recuperarPassword form div input {

	padding: 1%;
	margin-left: 5%;
	margin-right: 5%;
	width: 60%;
	float: right;

}

#recuperarPassword form button {

	width: 48%;
	padding: 1%;
	margin-left: 25%;
	margin-top: 3%;
	background: #93979e;
	border: 2px solid #242526;
	border-radius: 10px;
	font-family: "amatic";
	font-weight: bold;
	font-size: 24px;
	color: black;

}

#recuperarPassword form button:hover {

	cursor: pointer;
	color: white;
	background: #57585b;

}